
.buttons_area
{
    background-color: #049eff0a;
    position: fixed;
    top: 50%;
    left: 0;
    transform: translate(0,-50%);
    /*min-height: 100px;*/
    /*width: 200px;*/
    border-radius: 0 30px 30px 0;
    border: 1px solid #f0f0f0;
    z-index: 1000;
    font-size: x-small;
    padding: 20px;
}
.buttons_area button, .buttons_area a
{
    float: left;
    display: block;
    border-radius: 0 4px 4px 0!important;
}
